<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<h1 class="text-white text-center bg-dark" th:text="${title}"></h1>
<a th:href="@{/books/create}" class="btn btn-info offset-11"> add book</a>


<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>AUTHOR</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.author}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>